<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Modbus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Modbus.Properties.Settings>
            <setting name="SelectedCom" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedBaudrate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="IsSendPreString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreString" serializeAs="String">
                <value />
            </setting>
            <setting name="IsPreStringHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreStringTimeoutAfterMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EepromReadBytes" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="IsEepromWriteDelay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EepromWriteDelayMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsTerminalSendHex" serializeAs="String">
                <value>False</value>
            </setting>
        </Modbus.Properties.Settings>
    </userSettings>
</configuration>